.detailsContainer {
  width: 96%;
  padding: 16px;
  min-width: 280px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: rgb(255, 255, 255);
  border-radius: 18px;
  color: rgb(52, 52, 52);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.btn {
  background-color: rgb(0, 0, 0);
  padding: 8px 16px;
  color: aliceblue;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  width: 100%;
  transition: background-color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover {
  background-color: rgb(73, 73, 73);
}

.nav {
  display: flex;
  gap: 12px;
}

.link {
  color: black;
}

.link:hover {
  color: rgb(78, 3, 208);
}

.active {
  color: rgb(78, 3, 208);
  font-weight: 500;
}

@media screen and (min-width: 360px) {
  .detailsContainer {
    width: 80%;
    padding: 24px;
    border-radius: 24px;
  }
}

@media screen and (min-width: 576px) {
  .btn {
    width: fit-content;
  }
}
