.list {
  width: 96%;
  padding: 16px;
  min-width: 280px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: rgb(255, 255, 255);
  border-radius: 18px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  color: rgb(52, 52, 52);
  margin: 0 auto;
}

.moviePoster,
.placeholder {
  width: 100%;
  aspect-ratio: 2 / 3;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.moviePoster:hover {
  transform: scale(1.04);
}

.placeholder {
  background-color: rgba(240, 248, 255, 0.904);
  color: #333;
  font-size: 14px;
  text-align: center;
}

.moviePoster:hover,
.placeholder:hover {
  transform: scale(1.04);
}

.movieLink {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 360px) {
  .list {
    border-radius: 24px;
  }
}

@media screen and (min-width: 576px) {
  .list {
    width: 80%;
    padding: 24px;
  }
  .listItem {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .listItem {
    flex-basis: calc((100% - 36px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .listItem {
    flex-basis: calc((100% - 48px) / 4);
  }
}
